@model Best_UI_React_App.Models.ForgotPassword;

<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script data-require="jquery" data-semver="2.2.0" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" />

<h2>Reset Password</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="ResetPassword">
            <div class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">New Password: </label>
                <input class="form-control" id="NewPassword" />                
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Confirm Password: </label>
                <input class="form-control" id="ConfirmPassword" />                
            </div>
            <br />
            <div class="form-group">
                <button type="button" value="Submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
            <div id="showloding" style="display:none">
                <div class="spinner-grow spinner-grow-sm" role="status">
                </div>
                <div class="spinner-grow spinner-grow-sm" role="status">
                </div>
                <div class="spinner-grow spinner-grow-sm" role="status">
                </div>
            </div>
            <br />
            <div id="dvMessage" visible="false" class="alert alert-danger" style="display:none">
                <strong>Error!</strong>
                <label id="lblMessage" />
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //$("button#submit").prop('disabled', false);        
        $("button#submit").show();
        $('#showloding').hide();
        $('#dvMessage').hide();
    });

    $("button#submit").click(function () {        
        $('#dvMessage').hide();
        $("button#submit").hide();
        //$("button#submit").prop('disabled', true);
        $('#showloding').show();
        var ConfirmPassword = $("#ConfirmPassword").val();
        var NewPassword = $("#NewPassword").val();

        var userdata = JSON.stringify({
            'Email': @Html.Raw(Json.Serialize(Model.Email)),
            'ConfirmPassword': ConfirmPassword,
            'Token': @Html.Raw(Json.Serialize(Model.Token)),
            'NewPassword': NewPassword
        });

        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '@Url.Action("ResetPassword", "SignIn")',
            data: userdata,
            contentType: "application/json; charset=utf-8",
            async: false,
            success: function (result) {
                //$("button#submit").prop('disabled', false);
                $("button#submit").show();
                $('#showloding').hide();
                if (result.status == 'success') {
                    var email1 = result.email
                    window.location = '@Url.Action("ResetPasswordSuccessful","SignIn", new { email = Model.Email })';
                }
                else {
                    var errors = result.errors;
                    $('#dvMessage').show();
                    $.each(errors, function (index, value) {
                        $("#lblMessage").text(value);
                    });
                }

            },

            error: function (jqXHR, exception) {
                var msg = '';
                //$("button#submit").prop('disabled', false);
                $("button#submit").show();
                $('#showloding').hide();
                if (jqXHR.status === 0) {
                    msg = 'Not connect.\n Verify Network.';
                    alert(msg);
                } else if (jqXHR.status == 404) {
                    msg = 'Requested page not found. [404]';
                    alert(msg);
                } else if (jqXHR.status == 500) {
                    msg = 'Internal Server Error [500].';
                    $('#errordate').show();
                    if ($("#state").val() == "") {
                        $('#errorstate').show();
                    }
                    //$("button#submit").prop('disabled', false);
                    $("button#submit").show();
                    $('#showloding').hide();
                } else if (exception === 'parsererror') {
                    msg = 'Requested JSON parse failed.';
                    alert(msg);
                } else if (exception === 'timeout') {
                    msg = 'Time out error.';
                    alert(msg);
                } else if (exception === 'abort') {
                    msg = 'Ajax request aborted.';
                    alert(msg);
                } else {
                    var responseText = jQuery.parseJSON(jqXHR.responseText);
                    $('#dvMessage').show();
                    $.each(responseText.errors, function (index, value) {
                        $("#lblMessage").text(value);
                    });
                }
            }
        });
    });

</script>