<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password Successful</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#dialog").dialog();
        });
    </script>
</head>
<body>

    <div id="dialog" title="Reset Password Successful">
        <h3>
            Resetting the password was successful from registered email address - @ViewBag.Email
            <br/>
            Please click here -
            <a href="https://rrr-stocks.com/login"
               target="_blank"
               class="link2"
               style="
                                      color: #475c77;
                                      text-decoration: none;
                                    ">
                <span class="link2"
                      style="
                                        color: #475c77;
                                        text-decoration: none;
                                        font-weight: bold;
                                      ">Login page</span>
            </a>
        </h3>
    </div>    

</body>
</html>